/* * { */
/*     font-family: "CommitMono Nerd Font Propo"; */
/*     font-size: 12px; */
/*     font-weight: 900; */
/* } */

.main {
    font-family: "CommitMono Nerd Font Propo";
    font-size: 12px;
    font-weight: 900;
}

.secondary {
    font-family: "CommitMono Nerd Font Propo";
    font-size: 11px;
    font-weight: 700;
}

window#waybar {
    color: #FFE9CB;
    background-color: transparent;
    border: none;
    margin: 0;
}

window#waybar>box {
    border-radius: 50em;
    background-color: rgba(20, 9, 0, 0.6);
    padding: 0.25em 1em;
    box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.45);
    margin: 0;
}

window.main#waybar>box {
    margin: 1em 100em;
}

window.secondary#waybar>box {
    margin: 1em 15em;
}

window.background.popup>decoration,
window.background.popup>decoration:backdrop {
    box-shadow: none;
    background: transparent;
}

tooltip, window.background.popup menu {
    font-family: "CommitMono Nerd Font Propo";
    font-size: 11.5px;
    font-weight: 800;
    color: #FFE9CB;
    background-color: #332B29;
    border: none;
    padding: 0;
    border-radius: 1em;
    box-shadow: none;
}

window.background.popup menuitem:hover {
    background-color: #FF8A60;
}

window.background.popup menuitem:first-child,
window.background.popup menuitem:first-child:hover {
    border-top-left-radius: 1em;
    border-top-right-radius: 1em;
}

window.background.popup menuitem:last-child,
window.background.popup menuitem:last-child:hover {
    border-bottom-left-radius: 1em;
    border-bottom-right-radius: 1em;
}

window.background.popup separator {
    background-color: #FFE9CB;
}

tooltip {
    opacity: 0.9;
}

#workspaces button {
    font-size: 1em;
    margin: 0.4em 0.25em;
    padding: 0;
    min-width: 1.8em;
    min-height: 1.8em;
    border-radius: 50%;
    background-color: #FF8A60;
    transition: all 0.1s ease-in-out;
    border: none;
}

#workspaces button.active {
    min-width: 4em;
    border-radius: 50em;
    background: #FF5C00;
}

#workspaces button:hover {
    background: #894126;
}

#workspaces button.urgent {
    color: #F75C1e;
    background-color: #FFE9CB;
}

#workspaces,
#hyprland-window,
#cpu,
#memory,
#network,
#pulseaudio,
#bluetooth,
#clock,
#tray,
#custom-mic,
#custom-power,
#custom-mpris,
#image {
    margin: 0.2em 0.2em;
    padding: 0.2em 1em;
    color: #FFE9CB;
    background-color: rgba(20, 9, 0, 0.6);
    border: 0.15em solid rgba(255, 138, 96, 0.5);
    border-radius: 1em;
    /* box-shadow: 0px 0px 4px 3px rgba(0, 0, 0, 0.45); */
}

window.background.popup menu {

}

#pulseaudio.source {
    color: #F75C1e;
}

#pulseaudio.source-muted {
    color: #FFE9CB;
}

#custom-mic {
    font-size: 15px;
}

#custom-mic.yes {
    /* muted */
    color: #FFE9CB;
}

#custom-mic.no {
    /* unmuted */
    color: #F75C1E;
}

#image.album-art {
    margin-right: 1em;
}

#tray image {
    margin: 0.4em;
}

