* {
    font-family: "CommitMono Nerd Font Propo";
}

window#waybar{
    font-size: 12;
    font-weight: 900;
    transition-property: background-color;
    transition-duration: 0.5s;
    color: #FFE9CB;
    border: none;
    padding: 0em;
    margin: 0em;
}

#waybar {
    background-color: rgba(20, 9, 0, 0.529);
}

#workspaces {
    font-size: 12;
    background-color: rgba(20, 9, 0, 0.265);
    border-radius: 20em;
    border: none;
    margin: 0.3em 0.5em;
    padding: 0.2em;
    color: transparent;
}

#workspaces button {
    font-size: 0.1em;
    margin: 0.5em;
    padding: 1em 4.5em;
    border-radius: 20em;
    background-color: #FF8A60;
    transition: all 0.1s ease-in-out;
    border: none;
}

#workspaces button.active {
    margin: 0.5em;
    padding: 0.5em 20em;
    background: #FF5C00;
}

#workspaces button:hover {
    background: #894126;
}

#workspaces button.urgent {
    background-color: #FFE9CB;
}

#tray {
    font-size: 12;
}

#clock {
    font-size: 12;
    margin: 1em
}