- hosts: localhost
  vars:
    target_user: "{{ lookup('env', 'USER') }}"
    essential_packages:
    - rofi
    - bitwarden
    - brave-bin
    - smbclient
    - fuse2
    - bluetui
    - nemo
    - gvfs-smb
    - ddcutil
    - hyprshot
    - bc
    - downgrade
    - stow
    - libappindicator-gtk3
    - nm-connection-editor
    - traceroute
    - virt-manager
    - cups
    user_packages:
    - discord
    - telegram-desktop
    - solaar
    aur_packages:
    - visual-studio-code-bin
    - vial-appimage
    - go-hass-agent-bin
    - transgui-qt

  tasks:
  - name: Enable no password sudo for current user
    copy:
      dest: "/etc/sudoers.d/100-{{ target_user }}"
      content: "{{ target_user }} ALL=(ALL) NOPASSWD:ALL\n"
      owner: root
      group: root
      mode: '0440'
    become: true

  - name: Update pacman cache and upgrade system
    community.general.pacman:
      update_cache: true
      upgrade: true
    become: true

  - name: Install essential packages
    include_tasks: tasks/install_official.yaml
    loop: "{{ essential_packages }}"
    loop_control:
      loop_var: package

  - name: Install user packages
    include_tasks: tasks/install_official.yaml
    loop: "{{ user_packages }}"
    loop_control:
      loop_var: package

  - name: Update paru cache and upgrade system
    shell:
      cmd: paru -Sau
    register: result
    changed_when:
    - result.rc == 0
    - "'there is nothing to do' not in result.stdout"
    become: true
    become_user: "{{ target_user}}"

  - name: Install AUR packages
    include_tasks: tasks/install_aur.yaml
    loop: "{{ aur_packages }}"
    loop_control:
      loop_var: package

  - name: Find all systemd-boot entry files
    find:
      paths: /boot/loader/entries
      patterns: '*.conf'
      file_type: file
    register: boot_entries
    become: true

  - name: Include entry update task for each file
    include_tasks: tasks/silent_boot.yaml
    loop: "{{ boot_entries.files }}"
    loop_control:
      loop_var: entry
    vars:
      entry_path: "{{ entry.path }}"

  - name: Install Lone Plymouth theme
    shell:
      cmd: |
        cd /tmp
        git clone --depth=1 https://github.com/lbfrias/plymouth-themes.git
        cd plymouth-themes
        cp -r pack_*/* /usr/share/plymouth/themes
        plymouth-set-default-theme -R lone
    become: true

  - name: Setup login manager
    include_tasks: tasks/login_manager.yaml

  - name: Setup Hyprland
    include_tasks: tasks/hyprland.yaml

  - name: Setup notification daemon
    include_tasks: tasks/notification_daemon.yaml

  - name: Setup overlay bar
    include_tasks: tasks/overlay_bar.yaml

  - name: Setup status bar
    include_tasks: tasks/status_bar.yaml

  - name: Setup zsh
    include_tasks: tasks/zsh.yaml

  - name: Setup terminal
    include_tasks: tasks/terminal.yaml

  - name: Setup gaming apps
    include_tasks: tasks/gaming.yaml

  - name: Setup docker
    include_tasks: tasks/docker.yaml

  - name: Setup Spotify
    include_tasks: tasks/spotify.yaml

  - name: Setup FirefoxPWA and web apps
    include_tasks: tasks/progressive_web_apps.yaml

  - name: Setup Solaar (Logi Options+ alternative)
    include_tasks: tasks/solaar.yaml